body{
    background-color: lightgreen;
}
h1{
    text-align: center;
    font-weight: bold;
}
.cal{
    width: 200px;
    height: 200px;
    margin: auto;
    padding: 8px;
    justify-content: space-evenly;
    background-color: lightsalmon;
    display: flex;
}