*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
.container{
    margin-left: 400px;
    text-align: center;
    align-items: center;
    background-color: lightpink;
    width: 350px;
    height: 600px;
}
h3{
    color: rgb(3, 3, 73);
}